[submodule "Data Acquisition"]
	path = Data Acquisition
	url = https://github.com/N-Pulse/BMI-SOFT-Signal_Acquisition.git
[submodule "Signal Processing & ML"]
	path = Signal Processing & ML
	url = https://github.com/N-Pulse/BMI-SOFT-Signal_Processing_ML.git
[submodule "Biomechanical Model"]
	path = Biomechanical Model
	url = https://github.com/N-Pulse/BMI-SOFT-Biomechanical_Model
